@{
    ViewBag.Title = "ACERCA DE";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Este sistema es un trabajo para la clase del profesor Eudis, siendoles sinceros me tomo 1 dia
    pero mi maquina no permitia instalar sql server, si me preguntan porque no se podia, ni idea,
    pero al final lo hice.</p>
