@{
    ViewBag.Title = "CONTACTENOS";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Empresa KarMay<br />
    Villa el Salvador<br />
    <abbr title="Phone">P:</abbr>
    9348356335
</address>

<address>
    <strong>Soporte:</strong>   <a href="marcomayuriquiroz@gmail.com">marcomayuriquiroz@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="marcomayuriquiroz@gmail.com">marcomayuriquiroz@gmail.com</a>
</address>