@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EMPRESA KARMAY</h1>
    <p class="lead">La empresa esta enfocada en el desarrollo de sistemas orientados al control de personal,clientes,proyectos y muchos otros (dependiendo de lo que requiera el contratante).</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Leer mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sistema de control de clientes.</h2>
        <p>
            Este sistema permite controlar el registro de clientes que hayan contratado un proyecto con
            la empresa de una forma más dinamica y rápida, mediante el uso de asp.net.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sistema de control de horas de trabajo</h2>
        <p>
            Este sistema permite controlador las horas de trabajo de cada trabajador contratado por la
            empresa y permite controlar tambien las horas extras que el ha efectuado acompañado de la 
            monetización que esta genera.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sistema de web hosting</h2>
        <p>
            Este sistema permite ver el tiempo que los servidores estan prendidos y manipularlos remotamente,
            y genera un reporte de incidencias, si es que alguno ha sufrido un error y se ha apagado.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leer mas &raquo;</a></p>
    </div>
</div>